html{
  font-size: 62.5%;
  height: 100%
}
body{
  height: 100%
}
.container{
  width: 980px;
  margin: 0 auto;
  position: relative;
  min-height: 100%
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
ul.top_menu{
  float: right;
}
.top_menu li {
  float: left;
  width: auto;
}

.top_menu li a{
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px;
}
.top_menu li a:hover{
  text-decoration: underline;
}
.header{
  background-color: #F5B4B3;
  height: 50px;
  font-size: 1.5rem;
}
.image_area{
  width: 100%
}
.wrapper{
  margin-top: 10px;
  padding-bottom: 100px;
}
.side_menu{
  width: 300px;
  float: left;
}
.side_menu li{
  background-color: #FCECEC;
  height: 6rem;
  margin-bottom: 10px;
}
.side_menu li:hover{
  opacity: 0.6;
}
.side_menu li a{
  font-size: 2rem;
  color: #4D4D4D;
  text-decoration: none;
  display: block;
  padding: 2rem;
}
.logo_image{
  width: 110px;
  float: left;
  margin: 0;
}
.content{
  float: right;
  background-color: #fff
}
.ProductTable{
  border-collapse: separate;
  border-spacing: 10px 0px;
}
.ProductTable tr{
  width: 480px;
}
.ProductTable th{
  width: 150px;
  height: 7rem;
  text-align: right;
}
.ProductTable td{
  width: 480px;
  }
.sub-button{
  text-align: center;
  font-size: 3rem;
}
.submit-btn{
  color: white;
  background-color: #008B8B;
  margin: 10px;
}
.submit-btn:hover{
  opacity: 0.5;
}
.footer{
  width: 980px;
  height: 100px;
  position: fixed;
  bottom: 0;
  background-color: #4D4D4D;
  display: table;
}
.footer p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
input.input-status {
  width: 480px;
}
td textarea {
width: 100%;
height: 100%
}
